<!DOCTYPE html>
<html>
<head>
    <title>WEINV wedding invitation</title>
</head>
<body>

<p>
    Vous &ecirc;tes cordialement invit&eacute; au Mariage de <strong>{f_firstname}</strong> et <strong>{m_firstname}</strong>. <br>
    Cliquez sur le lien suivant pour voir les details et confirmer votre participation: <a href="{login_uri}">{login_uri}</a> <br><br>
    Vos identifiants: <br>
    &emsp;username: <strong>{username}</strong> <br>
    &emsp;password: <strong>{password}</strong>
</p>

</body>
</html>